__pycache__/
scripts/__pycache__/

hdl_design/hdl_design.cache/
hdl_design/hdl_design.hw/
hdl_design/hdl_design.cache/
hdl_design/hdl_design.sim/
hdl_design/hdl_design.gen/
hdl_design/hdl_design.runs/
hdl_design/hdl_design.ip_user_files/

adc_regs/

hdl_design/hdl_design.srcs/dv/axi_top_env/
hdl_design/hdl_design.srcs/rtl/registers/adc/
hdl_design/hdl_design.srcs/rtl/registers/dac/

hdl_design/hdl_design.srcs/dv/waveforms

software/firmware/src/registers/chip_top_registers.h

freq_adapter/
docs/_build/
docs/_static/img/
nd_config/Working\ Data/
docs/site
docs/docs/img/
img/
docs_sphinx/_build
.ipynb_checkpoints/
scripts.txt
hdl.txt
docs.txt
gitlog.txt
.aider*
hdl_design/hdl_design.srcs/dv/chip_reg_top/
.Xil/